{% extends "index.html" %}

{% block pagetitle %}Enquetes Disponíveis{% endblock %}

{% block content %}
  <div class="container py-5">
    {% include '_flashes.html' %}
  
    <div class="d-flex w-100 justify-content-between align-items-center">
      <h2><strong>Enquetes Disponíveis</strong></h2>
    </div>

    <div class="mt-4">
      {% for enquete in enquetes %}
        <div class="bg-light p-3 d-flex justify-content-between align-items-center mt-4">
          <div>
            <h5 class="mb-0"><strong>{{ enquete.titulo }}</strong></h5>

            <div class="text-muted pt-1">
              <small>Criado em {{ enquete.criado_em }}</small>
            </div>
          </div>
          
          <a href="{{ url_for('responder_enquete', enquete_id=enquete.id) }}" class="btn btn-success">Responder Enquete</a>
        </div>
      {% endfor %}

      {% if enquetes|length == 0 %}
        <div class="empty-state">
          <img src="{{ url_for('static', filename='images/searching-data.svg') }}" alt="Sem enquetes">

          <h4><strong>Não há enquetes disponiveis</strong></h4>

          <div class="text-muted">
            Aguarde até que um professor disponibilize uma nova enquete.
          </div>
        </div>
      {% endif %}
    </div>

    {% if enquetes_respondidas|length != 0 %}
      <div class="mt-5">
        <h4 class="mb-0"><strong>Enquetes Respondidas</strong></h4>

        <div class="row">
          {% for enquete in enquetes_respondidas %}
            <div class="col-md-6">
              <div class="bg-light p-3 d-flex justify-content-between align-items-center mt-4">
                <h6 class="mb-0"><strong>{{ enquete.titulo }}</strong></h6>
                
                <a href="{{ url_for('aluno_ver_respostas', enquete_id=enquete.id) }}" class="btn btn-sm btn-outline-secondary">Ver respostas</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
