<!doctype html>
<html lang="en">
  <head>
    {% block head %}
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      {% block title %}
        <title>{% block pagetitle %}{% endblock %} | Avalia+</title>
      {% endblock %}

      {% block styles %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
      {% endblock %}
    {% endblock %}
  </head>

  <body>
    {% if current_user.is_authenticated %}
      <nav class="navbar sticky-top bg-dark ">
        <div class="container">
          <a class="navbar-brand text-white" href="#">Avalia+</a>

          <span class="navbar-text text-white">
            Olá, {{ current_user.nome }}! &nbsp;
            <a href="{{url_for('logout')}}" class="text-white">Sair</a>
          </span>
        </div>
      </nav>
    {% endif %}

    <!-- Your page content -->
    {% block content %}{% endblock %}

    {% block scripts %}
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
      <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
      
      <script src="https://unpkg.com/lucide@latest"></script>
      <script>
        lucide.createIcons();
      </script>
    {% endblock %}
  </body>
</html>
